body {
  background: #fefefe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation, .navigation__link, .footer__top {
  color: #6FB62A;
  font-size: initial;
}

.navigation__item {
  list-style: none;
}

.navigation__link, .footer__top {
  text-decoration: none;
}

.main {
  margin: 0 auto;
  max-width: 800px;
  width: 80vw;
}


.about__image {
  box-sizing: border-box;
  float: left;
  max-width: 150px;
  padding: 0 10px 5px 0;
  width: 25%;
}


.cookbook__header {
  margin: 40px 0 0;
  text-align: center;
}

.recipe__header {
  color: #C53C8E;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.recipe__image {
  display: block;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
}

.recipe__ingredients, .recipe__preparation {
  color: #6FB62A;
  font-size: 1.2em;
}

.recipe__link {
  color: #3BB9EB;
}

.recipe__ornament {
  border-bottom: 2px dashed #6FB62A;
}

.recipe__paragraph {
  margin-top: 0;
}

.recipe__preview {
  background-position: center;
  background-size: cover;
  display: block;
  height: 20vh;
  margin: 0 0 10px;
  width: 100%;
}

.recipe__preview--1 {
  background-image: url(img/babka-marmurkowa.JPG);
}

.recipe__preview--2 {
  background-image: url(img/koktajl-z-truskawek-2.JPG);
}

.recipe__preview--3 {
  background-image: url(img/kompot-z-rabarbaru-2.jpg);
}

.recipe__preview--4 {
  background-image: url(img/zapiekane-bataty.JPG);
}

.recipe__preview--5 {
  background-image: url(img/pasztet-z-cukinii.JPG);
}


.footer {
  font-size: 12px;
  margin: 40px auto;
  text-align: center;
}

.footer__paragraph {
  display: inline;
}

.footer__top {
  background-color: #fefefe;
  border-radius: 10px;
  bottom: 10px;
  padding: 5px;
  position: fixed;
  right: 10px;
}

@media screen and (min-width: 500px) {
  .footer {
      margin: 40px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .main {
      width: 60vw;
  }
}